#reveal_tracked_items {
    background-color: #c8bfae;
    width: 80px;
    border-radius: 8px;
    text-align: center;
    padding:15px;
	font-family: Menomonia, Arial, Verdana, sans-serif;
	font-weight: bold;
}