.browser {
    font-family: Muli, Arial, Verdana, sans-serif;
    font-size: 14px;
}

#item_live_search {
    width: 93%;
    height: 19px;
    background-color: #555555;
    border: 1px solid #777777;
    color: white;
}

#item_live_search:hover {
    background-color: #666666;
}

#browser {
    width: 400px;
    height: 400px;
    color: #FFFFFF;
    background-color: #444444;
    position: absolute;
    padding: 5px;
    left: 10px;
    top: 10px;
    overflow: auto;
    border: 1px solid #777777;
}

#browser_results {
    list-style-type: none;
    padding-left: 0;

}

.browser_result:nth-child(even) {
    background-color: #444444;
}

.browser_result:nth-child(odd) {
    background-color: #666666;
}

.browser_result:nth-child(even):hover {
    background-color: #555555;
}

.browser_result:nth-child(odd):hover {
    background-color: #777777;
}

img.browser_result_image {
    width: 64px;
    height: 64px;
    background-color: black;
    border: solid 1px black;
    vertical-align: middle;
    margin: 2px;
}

#browser_close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 17px;
    height: 17px;
    background-color: #555555;
    border: 1px solid #777777;
    color: #777777;
    text-align: center;
    vertical-align: middle;
}

#browser_close:hover {
    background-color: #666666;
}

.tint {
    position: relative;
    float: left;
    cursor: pointer;
}

.tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,255,255, 0.5);
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
}

.tint:hover:before {
    background: none;
}

/*#notification_popin {
    width: 400px;
    height: 150px;
    color: white;
    background-color: blue;
    position: fixed;
    right: 10px;
    top: 50%;
}

#test_button {
    width: 20px;
    height: 150px;
    background-color: red;
    position: fixed;
    right: 10px;
    top: 50%;
}*/