.item_list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 25px;
    margin-bottom: 3px;
}

.item_list_result {
    display: inline-block;
    width: 100%;
}

.item_list_text {
    margin-top: 0;
}

.item_list_result:nth-child(even) {
    background-color: #444444;
}

.item_list_result:nth-child(odd) {
    background-color: #666666;
}

.item_list_result:nth-child(even):hover {
    background-color: #555555;
}

.item_list_result:nth-child(odd):hover {
    background-color: #777777;
}

img.item_list_image {
    float: left;
    width: 64px;
    height: 64px;
    background-color: black;
    border: solid 1px black;
    margin: 2px;
}