.browser_element {
    background-color: #555555;
    color: white;
    border: 1px solid #777777;
}

#browser_search {
    height: 19px;
    width: calc(100% - 25px);
    float: left;
}

#browser_close {
    float: right;
    width: 19px;
    height: 19px;
    text-align: center;
    vertical-align: middle;
    color: #777777;
}

#browser_search:hover {
    background-color: #666666;
}

#browser_close:hover {
    background-color: #666666;
}

#browser {
    max-width: 400px;
    max-height: 500px;
    color: #FFFFFF;
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 5px;
}