.notification_settings {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 300px;
    min-width: 300px;
    min-height: 30px;
    background-color: #555555;
    padding: 5px;
}

.notification_number_entry {
    max-width: 40px;
    background-color: #555555;
    border: 1px solid #777777;
}

.notification_select {
    background-color: #555555;
    border: 1px solid #777777;
}
