html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Menomonia, Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #feefb8;
}

body {
    background-color: #1f2120;
}

#browser {
    max-width: 500px;
    max-height: 500px;
    color: #FFFFFF;
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 5px;
}

.browser_element {
  background-color: #555555;
  color: white;
  border: 1px solid #777777;
}

#browser_search {
  height: 19px;
  width: calc(100% - 45px);
  float: left;
  margin: 5px;
}

#browser_close {
  float: right;
  width: 19px;
  height: 19px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  margin: 5px;
  font-weight: bold;
  background-color: #c8bfae;
}

#browser_search:hover {
  background-color: #666666;
}

#browser_close:hover {
  background-color: #ffffff;
}

#notification_panel {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    background-color: red;
}

#reveal_tracked_items {
    background-color: #555555;
    width: 80px;
    height: 50px;
    border-radius: 8px;
    vertical-align: middle;
    text-align: center;
    padding-top:15px;
}

#reveal_tracked_items:hover {
    background-color: #666666;
}

.item_list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 25px;
    margin-bottom: 3px;
}

.item_list_result {
    display: inline-block;
    width: 100%;
}

.item_list_text {
    margin-top: 0;
}

.item_list_result:nth-child(even) {
	background: #322b26; /* Old browsers */
	background: -moz-linear-gradient(left,  #322b26 0%, #433f33 32%, #514c45 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#322b26), color-stop(32%,#433f33), color-stop(100%,#514c45)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #322b26 0%,#433f33 32%,#514c45 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #322b26 0%,#433f33 32%,#514c45 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #322b26 0%,#433f33 32%,#514c45 100%); /* IE10+ */
	background: linear-gradient(to right,  #322b26 0%,#433f33 32%,#514c45 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#322b26', endColorstr='#514c45',GradientType=1 ); /* IE6-9 */
}

.item_list_result:nth-child(odd) {
	background: #514c45; /* Old browsers */
	background: -moz-linear-gradient(left,  #514c45 0%, #433f33 68%, #322b26 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#514c45), color-stop(68%,#433f33), color-stop(100%,#322b26)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #514c45 0%,#433f33 68%,#322b26 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #514c45 0%,#433f33 68%,#322b26 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #514c45 0%,#433f33 68%,#322b26 100%); /* IE10+ */
	background: linear-gradient(to right,  #514c45 0%,#433f33 68%,#322b26 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#514c45', endColorstr='#322b26',GradientType=1 ); /* IE6-9 */
}

.item_list_result:nth-child(even):hover {
    background: #777777;
}

.item_list_result:nth-child(odd):hover {
    background: #777777;
}

img.item_list_image {
    float: left;
    width: 64px;
    height: 64px;
    background-color: black;
    margin: 2px;
	border: 1px solid #999999;
}

/* Classes for rarities. Note the names match exactly those specified by the API https://wiki.guildwars2.com/wiki/API:2/items */
.Junk {
  color:	#000000;
}

.Basic {
  color:	#ffffff;  
}

.Fine {
  color:	#5e94dc;
}

.Masterwork {
  color:	#3fb628;
}

.Rare {
  color:	#f1dc2b;
}

.Exotic {
  color:	#d8a13a
}

.Ascended {
  color: 	#d55a86;
}

.Legendary {
  color:	#8e39d5;
}

#tracker_close_button {
  color: #000000;
  float: right;
  width: 19px;
  height: 19px;
  font-weight: bold;
}

#tracker_transparency_button {
    display: inline-block;
    float: left;
    background-color: #1f2120;
    width: 19px;
    height: 19px;
    border-radius: 2px;
    padding: 3px;
    margin: 5px;
}

.tracker_button {
    display: inline-block;
    float: left;
    background-color: #c8bfae;
    color: #26211d;
    border: 1px solid #777777;
    margin: 5px 5px 5px 0px;
}

.tracker_button:hover {
    background-color: #ffffff;
}

.item_	s_div {
    float: right;
}

.item_change_button {
    background-color: #555555;
    color: white;
    border: 1px solid #777777;
    height: 19px;
    margin: 5px;
}

.item_change_button:hover {
    background-color: #ffffff;
}

.item_change_list_item {
    display: inline;
    list-style: none;
}

.item_remove_button {
  float: right;
  clear: right;
}

.item_notify_button {
  float: right;
  clear: right;
}
.notification_settings {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 300px;
    min-width: 300px;
    min-height: 30px;
    background-color: #555555;
    padding: 5px;
}

.notification_number_entry {
    max-width: 40px;
    background-color: #555555;
    border: 1px solid #777777;
}

.notification_select {
    background-color: #555555;
    border: 1px solid #777777;
}

#notification_settings_close_button {
  clear: left;
  color: #777777;
  float: right;
  width: 19px;
  height: 19px;
}

#notification_panel {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    background-color: red;
}
